/* ================= CSS RESET ================= */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ================= ROOT ================= */
html {
    scroll-behavior: smooth;
}

/* ================= GLOBAL ================= */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.heading{
    font-family: "Gill Sans MT Pro", "Gill Sans", "Segoe UI", sans-serif;
}

/* ===== Base Fade Animation ===== */
.fade-anim {
    opacity: 0;
}

/* Trigger animation */
.fade-anim.active {
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

/* ===== Fade In From Left ===== */
.fade-left.active {
    animation-name: fadeLeft;
}

/* ===== Fade In From Right ===== */
.fade-right.active {
    animation-name: fadeRight;
}

/* ===== Keyframes ===== */
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}



