/* ================= CSS RESET ================= */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ================= ROOT ================= */
html {
    scroll-behavior: smooth;
}

/* ================= GLOBAL ================= */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.heading {
    font-family: "Gill Sans MT Pro", "Gill Sans", "Segoe UI", sans-serif;
}

.dots-animate img {
    animation: pulseDots 4s ease-in-out infinite;
}

.dot-a {
    animation-delay: 0s;
}

.dot-b {
    animation-delay: 0.6s;
}

.dot-c {
    animation-delay: 1.2s;
}

@keyframes pulseDots {

    0% {
        transform: scale(1);
        opacity: .8;
    }

    50% {
        transform: scale(1.08);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: .8;
    }

}




@keyframes containerSwing {
    0% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

.hanging-container {
    animation: containerSwing 6s ease-in-out infinite;
    transform-origin: top center;
}





/* Default (mobile) → no animation */
.fade-left,
.fade-right,
.fade-up,
.fade-down {
    opacity: 1;
    transform: none;
}

/* Desktop animation only */
@media (min-width: 768px) {

    .fade-left,
    .fade-right,
    .fade-up,
    .fade-down {
        opacity: 0;
        transition: all .8s ease;
    }

    .fade-left {
        transform: translateX(-60px);
    }

    .fade-right {
        transform: translateX(60px);
    }

    .fade-up {
        transform: translateY(60px);
    }

    .fade-down {
        transform: translateY(-60px);
    }

    .show {
        opacity: 1;
        transform: translate(0);
    }

}